.tech-list {
  background-color: rgba(212, 216, 240, 0.8);
  border-radius: 4px;
  padding: 20px 10px;
  display: flex;
  margin-bottom: 20px;
}
.tech-list ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.tech-list img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media(max-width: 500px) {
  .tech-list ul {
    flex-wrap: wrap;
  }
}