.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffffe;
  position: relative;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1633356122544-f134324a6cee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
  width: 100%;
  margin-bottom: 100px;
}
.hero-wrapper::before{
  content: "";;
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.text-wrapper{
  text-align: left;
}
.text-wrapper p.greeting {
  font-size: 22px;
  font-family: 'Fira code';
  color: #eebbc3;
}
.text-wrapper h1 {
  font-size: 80px;
  font-family: 'roboto';
}
.text-wrapper p.paragraph {
  font-family: 'roboto';
  font-size: 28px;
  color: #b8c1ec;
}

a.resume {
  border: none;
  padding: 12px;
  border: 1px solid #eebbc3;
  margin-top: 30px;
  border-radius: 4px;
  text-decoration: none;
  color:#eebbc3;
  font-family: 'Fira code';
}
a.resume:hover {
  background-color: rgba(238, 187, 195, 0.2);
}

@media (max-width: 500px){
  .text-wrapper h1 {
    font-size: 67px;
  }
  .hero-wrapper{
    margin: 0px 20px 80px 20px;
  }
}