.about-content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about-text-wrapper{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p.headline {
  font-family: 'Fira code';
  color: #fffffe;
  font-size: 30px;
  margin-bottom: 25px;
}
.about-content {
  color: #b8c1ec;
  text-align: justify;
}
p.about-text {
  font-size: 20px;
  font-family: 'roboto';
}
.cubos {
  color: #eebbc3;
}

.about-img img {
  width: 450px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: rgba(18, 22, 41, 0.8);
  box-shadow: 3px 3px 30px rgb(0, 0, 0);
}
.text {
  width: 500px;
  padding: 0 0 0 40px;
}

@media (max-width: 500px){
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .text {
    width: 100%;
    padding: 0;
  }
  .about-img img {
    display: none;
  }
  .about-content-wrapper{
    margin: 100px 0 0 0;
  }
  .about-text-content {
    width: 300px;
  }
}