.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}
ul.nav-item-wrapper {
  display: flex;
  list-style-type: none;
  gap: 20px;
  color: #fffffe;
  font-family: 'Roboto';
  justify-content: flex-end;
  padding: 30px 0px;
  align-items: center;
}
.logo-span {
  color: #eebbc3;
}
h2.logo{
  color: #fffffe;
  font-family: 'Roboto';
  font-size: 28px;
}
h2.logo:hover {
  color: #eebbc3;
  cursor: cell;
}
li.nav-item a{
 text-decoration: none;
 color: #fffffe;
}
li.nav-item a:hover{
  cursor: pointer;
  color: #eebbc3;
}
.nav-resume {
  border: 1px solid rgb(238, 187, 195);
  border-radius: 6px;
  padding: 10px;
  text-decoration: none;
  color: #eebbc3;
} 
.nav-resume:hover{
  background-color: rgba(238, 187, 195, 0.2);
  cursor: pointer;
}

span.nav-item-index {
  color: #eebbc3;
}

@media (max-width: 500px){
  ul.nav-item-wrapper {
    display: none;
  }
  h2.logo {
    margin: 20px 0 40px 0;
  }
}